@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: Nunito;
    margin: 0;
    box-sizing: border-box;
    /*background-color: #27187e;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #27187e;
}

/* tipo de usuario -------------*/
.tipo-usuario {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    margin-top: -20px;
}

.opcoes {
    display: flex;
    gap: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.opcoes label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}


.titulo {
  font-weight: bold;
  font-size: 18px;
  color: #27187e;
}

/* tipo de usuario -------------*/

.container {
    position: relative;
    width: 500px;
    height: 550px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.container-cadastro {
    position: relative;
    width: 550px;
    height: 590px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.titulo-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 25px 0;
}

p {
    color: #80868c;
}

header {
    color: #27187e;
    font-weight: 400;
}

.titulo-login header {
    font-size: 28px;
    margin-bottom: 5px;
}

.input-usuario {
    position: relative;
    width: 100%;
}

.input-usuario label {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: .15s ease-in-out;
    font-size: 15px;
}

.input-usuario input {
    width: 100%;
    height: 40px;
}

.input-usuario .input-us {
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #27187e;
    border-radius: 25px;
    outline: none;
}

.input-usuario input[type="password"] {
    margin-bottom: 10px;
}

.input-usuario .input-us:focus {
    outline: 2px solid #27187e;
}

.input-us:focus~label,
.input-us:valid~label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    color: #27187e;
    background: #fff;
    padding: 0 5px;
}

.input-us:valid~label {
    color: #27187e;
}

.esqueceu-senha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#check {
    margin-right: 10px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
}

section .esqueceu-pass {
    font-weight: 500;
    text-decoration: none;
    color: #27187e
}

.input-submit {
    font-size: 16px;
    color: #fff;
    background-color: #27187e;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.input-submit-login {
    font-size: 16px;
    margin-top: 25px;
    color: #fff;
    background-color: #27187e;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.input-submit:hover {
    transition-duration: 0.4s;
    background: #04AA6D;
    color: white;
}

.input-submit-login:hover {
    transition-duration: 0.4s;
    background: #04AA6D;
    color: white;
}
.other-option {
    position: relative;
    width: 100%;
    margin: 30px 0;
}

.ou-opcao {
    position: absolute;
    color: #27187e;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
}

hr {
    border: 1px solid #ddd;
}

.entrar-conta {
    display: flex;
    gap: 15px;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    cursor: pointer;

}

.entrar-google {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    background: #fff;
    border: 1px solid #27187e;
}

.entrar-google img {
    width: 25px;
}

.entrar-google p {
    font-size: 15px;
    color: #27187e;
    font-weight: 400;
    width: 90%;
}

.entrar-google:hover {
    border: 2px solid #27187e;
    transition: 0.2s;

}

.fazer-login {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}

.fazer-login a {
    color: #27187e;
    text-decoration: none;
}

.fazer-login a:hover {
    font-weight: bold;
}

.fazer-cadastro {
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
}

.fazer-cadastro a {
    color: #27187e;
    text-decoration: none;
}

.fazer-cadastro a:hover {
    font-weight: bold;
}