@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 40px;
}

.titulo h1 {
    color: #27187e;
    font-size: 36px;
    margin-bottom: 10px;
}

section {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h2 {
    color: #27187e;
    margin-bottom: 20px;
}

.pergunta h3 {
    margin-bottom: 5px;
    color: #27187e;
}

.pergunta p {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #27187e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fec78a;
    color: #27187e;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
}
