
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Quiz de Flores - Pergunta</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <script src="/javascripts/game.js" defer></script>
</head>
<body>

  <div class="msg-inicial">
    <h1>༘⋆✿ Seja bem-vindo(a) ao Quiz!✿⋆༘</h1>
  </div>
  
<div class="container">
    <div class="painel-perguntas">
    </div>

    <div class="painel-jogador">
      <h2>Painel do Jogador</h2>
      <button class="btn-play">Jogar</button>
    </div>

    </body>
</html>